body {
    background-color: hsl(237, 38%, 30%);
}

.heading {
    color: #fff;
    margin: 30px 0;
}

.card-item {
    margin: 10px 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.btn {
    padding: 5px 15px;
}

.btn-edit {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 5px 10px;
    color: #207982;
    border: none;
    border-bottom: 2px solid #fff;
    margin-right: 5px;
    border-radius: 0px;
}

.btn-edit:hover {
    background-color: #fff;
    color: #207982;
    border-bottom: 2px solid #207982;
}

.btn-delete {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 5px 10px;
    color: #ac1513;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
}

.btn-delete:hover {
    background-color: #fff;
    color: #ac1513;
    border-bottom: 2px solid #ac1513;
}

.btn-quiz {
    border-bottom: 3px solid #1abc9c;
    color: #1abc9c;
    background-color: #fff;
    border-radius: 0px;
}

.btn-quiz:hover {
    background-color: #16a085;
}

.card-action {
    display: inline;
    margin-left: 10px;
    padding-left: 30px;
}

.pill-notification {
    font-size: 0.8rem;
    position: relative;
    margin-left: 10px;
    bottom: 2px;
}

.quiz-arrow {
    position: relative;
    top: 3px;
}