<footer class="footer py-3 bg-dark">
  <div class="container">
    <div class="text-muted">
      Developed by
      <a href="https://github.com/shivishbrahma">Purbayan Chowdhury</a> with
      <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
    </div>
  </div>
</footer>