<header>
  <nav class="navbar navbar-dark bg-primary">
    <ul class="nav nav-pills mb-3" id="pills-tab">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" href='/'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" href='/auth/logout'>Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" href='/auth/login'>Login</a>
      </li>
      {{/if}}
    </ul>

  </nav>
</header>