html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}
main {
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

header,
footer {
  flex-shrink: 0;
  border-radius: 0px;
}

footer {
  // width: 100%;
  text-align: center;
  // position: absolute;
  // bottom: 0;
}

.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-bottom: 1em;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.welcome_section {
  display: block;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  h1,
  .btn,
  .typewriter {
    display: block;
    transform: translate(-50%, -50%);
  }
}

@keyframes glazing {
  0% {
    color: #fff;
  }
  25% {
    color: #ccc;
  }
  50% {
    color: #999;
  }
  75% {
    color: #ccc;
  }
  100% {
    color: #eee;
  }
}

.topics_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  h1,
  .btn,
  .topics-list {
    display: block;
  }
  .topics-list {
    list-style: none;
    text-align: left;
    max-width: 50%;
    margin-top: 2.5em;
    margin-bottom: 0;
    color: #e61e3c;
    li::before {
      content: '\f138';
      font: normal normal normal 1.5rem/1 FontAwesome;
      margin-right: 0.5rem;
      width: 10px;
      height: 10px;
    }
    a {
      font-size: 1.5rem;
      color: #e61e3c;
    }
    li:hover {
      margin-left: 2.5rem;
    }
  }
}

.quiz_section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  .img-Wrap {
    min-height: 10rem;
    display: flex;
    justify-content: center;
  }
  .card {
    margin-top: 5rem;
  }
  img {
    width: 350px;
    align-self: center;
  }
  .list-group-item {
    padding: 0;
    .custom-control {
      padding-left: 0;
      .custom-control-label {
        cursor: pointer;
        padding: 0.75rem 1.5rem;
        width: 100%;
        height: 100%;
        &::before,
        &::after {
          opacity: 0;
        }
      }
    }
  }

  input[type='radio']:checked + .custom-control-label {
    width: 100%;
    background-color: #6610f2 !important;
  }
}

h1 {
  text-align: center;
}
.btn {
  display: block;
  width: fit-content;
  border-radius: 25px;
  padding: 0.5em 1em;
  font-size: large;
  i {
    display: none;
  }
  i:first-child {
    display: inline;
  }
  &:hover > i {
    display: inline;
    animation: glazing 0.8s infinite linear;
  }
}

.card {
  max-width: 1000px;
  margin: 0 auto;
  .btn-section {
    .btn:first-child {
      float: left;
    }
    .btn:last-child {
      float: right;
    }
  }
}

@media only screen and (max-width: 767px) {
  .quiz_section {
    .card {
      margin-top: 1.2rem;
    }
  }
  .display-3 {
    font-size: xx-large;
  }
  .typewriter h3 {
    font-size: large;
  }
  h1 {
    font-size: xx-large;
  }
  .topics_section {
    margin-top: 4rem;
    .topics-list {
      max-width: 100% !important;

      a {
        font-size: large !important;
      }
    }
  }
  h3 {
    font-size: large;
  }
}

@import 'dashboard';
