<section class="dashboard">
    <h1>Welcome {{user.firstName}}</h1>
    <h4 align="center">Status: {{user.status}}</h4>
    {{#if (equality user.status 'user')}}
    <div class="">
        <a class="mx-auto btn btn-info">Take Quiz</a><br>
    </div>

    {{else if (includes user.status 'admin')}}
    <div class="d-flex justify-content-center">
        <a href="/topics" class="mx-auto btn btn-info">Topics Section</a><br>
        <a href="/quiz" class="mx-auto btn btn-info">Quiz Section</a><br>
        <a href="/user" class="mx-auto btn btn-info">Users Section</a><br>
    </div>
    {{/if}}
</section>