<section class="quiz_section container-fluid">
  <form action="">
    <div class="card text-left">
      <div class="card-header text-center">
        <h4 class="card-title">
          What is the output of following snippet?
        </h4>
      </div>
      <div class="img-Wrap">
        <img class="card-img-top"
          src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1554737513/woocommerce_kqwhux.png"
          alt="" />
        <!-- <img src="" alt="" /> -->
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="answer1" name="answer" required />
            <label class="custom-control-label" for="answer1">A</label>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="answer2" name="answer" value="B" required />
            <label class="custom-control-label" for="answer2">B</label>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="answer3" name="answer" value="C" required />
            <label class="custom-control-label" for="answer3">C</label>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="answer4" name="answer" value="D" required />
            <label class="custom-control-label" for="answer4">D</label>
          </div>
          <!-- <div class="custom-control custom-radio">
                  <label class="custom-control-label" for="answer4">
                    D
                  </label>
                  <input
                    type="radio"
                    class="custom-control-input"
                    name="answer"
                    id="#answer4"
                    value="D"
                  />
                </div> -->
        </a>
      </div>
      <div class="card-body">
        <div class="btn-section text-center">
          <div class="btn btn-warning d-inline">Prev</div>
          <div class="btn btn-info d-inline">Next</div>
        </div>
      </div>
    </div>
  </form>
</section>