
  <body>
   
    <main>
      <section class="topics_section container-fluid">
        <h1>Topics Covered</h1>
        <ul class="topics-list">
          <li><a href="/quiz">Basics of Python</a></li>
          <li><a href="">Numpy and Pandas</a></li>
          <li><a href="">Linear and Logistic Regression</a></li>
        </ul>
      </section>
    </main>
    

