<body>

  <main>
    <section class="topics_section container-fluid">
      <h1>Topics Covered</h1>
      <ul class="topics-list">
        {{#each topic}}
        <li><a href="/see/quiz/{{id}}">{{title}}</a></li>
        {{/each}}
    </section>
  </main>