<section class="welcome_section">
  <h1 class="display-3">Welcome to Datafy Quiz</h1>
  <div class="typewriter">
    <h3>Presented by IEM Explore ML Team</h3>
  </div>
  <a href="/topics" class="btn btn-success">
    Take Quiz <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
</section>