<section class="container topics_add">
    <div class="d-flex flex-row heading-row">
        <div class="mr-auto">
            <h2 class="heading">Quiz :</h2>
        </div>
    </div>

    <form action="/quiz" method="post">
        <input type="text" name="question" placeholder="Question">
        <div class="list-group">

      <textarea name="option" rows="10" placeholder="Option"></textarea>    

      <label for="category"> select Category</label>
      <select name="category" class="form-control" id="category">
        <option>Example Category 1</option>
        <option>Example Category 2</option>
        <option>Example Category 3</option>
        <option>Example Category 4</option>
      </select>
        
         <div class="form-group">
    <label for="answer"> select Answer</label>
    <select name="answer" class="form-control" id="answer">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
  </div>
      </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class='btn btn-info btn-add'>
                <span class="ion-icon">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </span> Add Question
            </button>
        </div>
    </form>

</section>