<section class="container topics_add">
    <div class="d-flex flex-row heading-row">
        <div class="mr-auto">
            <h2 class="heading">Quiz Topic Update:</h2>
        </div>
    </div>

    <form action="/topics/{{topic.id}}?_method=PUT" method="post">
        <input type="text" name="title" placeholder="Topic Name" value="{{topic.title}}">
        <textarea name="description" rows="10" placeholder="Topic Description">{{topic.description}}</textarea>
        <div class="d-flex justify-content-center">
            <button type="submit" class='btn btn-info btn-add'>
                <span class="ion-icon">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </span> Add Quiz
            </button>
        </div>
    </form>

</section>